@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --card-grey: #fdfdfd;
  --card-green: #6aff6152;
}
body {
  background-color: #f8fafc;
  color: #6b9e77;
}
.btn {
  border-radius: 4px;
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
  letter-spacing: .02rem;
  -webkit-box-shadow: 0 4px 8px 0 rgb(0 0 0 / 33%);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 33%);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.shadow {
  box-shadow: 0 .2rem .7rem rgba(0,0,0,.15)!important;
}

.card-shadow {
  box-shadow: 0px 30px 25px -25px rgba(0,0,0,.15)!important;
}
.card {
  border: none;
}


.ml-auto,
.mx-auto {
    margin-left: auto !important;
}


.mt-8 {
  margin: 6rem 0 2em 0!important;
  padding: .5em 1.25rem;
  font-size: 1.2em;
  font-weight: 600;
}
  

@media screen and (max-width: 769px) {
    .todo-list {
        width: 100%;
        padding: 0;
    }
    
}

.active {
  background-color:  #28a745;
}

.inactive {
  background-color:  grey;
}

 .fa-stack[data-count]:after {
  position: absolute;
    right: -8%;
    top: 72%;
    content: attr(data-count);
    font-size: 64%;
    padding: 6px 6px 7px 6px;
    border-radius: 25%;
    line-height: .5;
    color: white;
    background: #ec4c4c;
    text-align: center;
    z-index: 2;
    min-width: 1em;
    font-weight: bold;
}

.alert-bg {
  border-right: 8px solid #ec4c4c;
}

.alert-body {
  padding: .5em;
}

.login {
  min-height: 100vh;
}

.bg-image {
    background: #28a745;
  }

.img-welcome {
  width: auto!important;
  height: 10%;
  margin: auto auto;
}

.icon-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  display: block;
  padding: 5px 12px;
  float: right;
  border-radius: 100%;
  background: #ff000085;
}
.fa-exclamation {
  color: #fff;
}

.pulse{
  animation: pulse 1s infinite;
}

@keyframes pulse {
	from {
		box-shadow: 0 0 0 0px #ff000085;
   }
	to {
		box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
   }
}

.device-body p {
  display: flex;
  justify-content: space-between;
}


.circle-on {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: #28a745;
  border-radius: 50%;
}


.circle-off {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: grey;
  border-radius: 50%;
}

.comp-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.device {
  transition: all .3s ease-in-out;
}
.device:hover {
  transform: translateY(-20px);
}



.alert-count {
  margin-top: -.6em;
  margin-left: .6em;
  color: #ec4c4c;
}



.device {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	overflow: hidden;
  height: 250px;
}
.device-preview {
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.device-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255 255 255 / 70%);
}

.router-link-exact-active {
  color: #fff!important;
}



.card-detail {
  z-index: 3;
  margin-top: 1.5rem!important;
}

.card-detail p {
  margin: 0;
}

.alert-warn {
  border-right: 8px solid #ece94c;
}

.alert-warn-count {
  margin-top: -.6em;
  margin-left: .6em;
  color: #ece94c;
}